{#
/**
* @file
* Default theme implementation of localgov_header_block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% if not localgov_base_remove_css %}
  {{ attach_library('localgov_base/page-title-block') }}
{% endif %}

{% set classes = ['lgd-page-title-block'] %}

<div{{ attributes.addClass(classes) }}>

  <h1 class="lgd-page-title-block__title">
    <span role="text">{{ title }}
      {% if node_title %}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          {{ node_title }}
        </span>
      </span>
    {% endif %}
  </h1>

  {% if published_date %}
    <div><span>Published: </span>{{ published_date }}</div>
  {% endif %}

  {% if last_updated_date %}
    <div><span>Last updated: </span>{{ last_updated_date }}</div>
  {% endif %}

</div>
