{#
/**
* @file
* Default theme implementation of localgov_header_block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% if not localgov_base_remove_css %}
  {{ attach_library('localgov_base/page-title-block') }}
{% endif %}

{% set classes = ['lgd-page-title-block'] %}

<div{{ attributes.addClass(classes) }}>

  <h1 class="lgd-page-title-block__title">
   {% if node_title %}
    <span class="lgd-page-title-block__publication-title">{{ title }}</span>
    <span>
      <span class="visually-hidden"> - </span>
      {{ node_title }}
    </span>
     
    {% else %}
      <span>{{ title }}</span>
    {% endif %}
     
  </h1>

  {% if published_date %}
  <div class="lgd-page-title-block__published">
    {% trans %}
      <span>Published:</span> {{ published_date }}
    {% endtrans %}
  </div>
{% endif %}

{% if last_updated_date %}
  <div class="lgd-page-title-block__updated">
    {% trans %}
      <span>Last updated:</span> {{ last_updated_date }}
    {% endtrans %}
  </div>
{% endif %}

</div>
